@import "public/assets/styles/Theme.scss";

@media (max-width: 575px) {
    .register-header {
        position: fixed;
        z-index: 999;
        width: 100%;
    }
}
html,
body {
    margin: 0;
}
.wrapper-login {
    /* The background image */
    z-index: -1;
    background-image: $background-login;
    background-repeat: no-repeat;
    background-color: #000;
    height: 100%;
    width: 100%;
    background-size: 100% 100%;
    position: absolute;
    display: flex;
    justify-content: center;
    .opacity-background {
        z-index: -1;
        position: absolute;
        height: 100%;
        width: 100%;
        background-image: linear-gradient($colorMainDark, $colorBlack);
        opacity: 0.7;
    }
    .login-box {
        z-index: 0;
        text-align: center;
        margin-top: 100px;
        background-color: #fff;
        padding: 30px 40px;
        border-radius: 8px;
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
        .MuiGrid-root.MuiGrid-container {
            margin-top: 20px;
            flex-direction: column;
            line-height: 35px;
        }
        .MuiAvatar-root {
            width: 50px;
            height: 50px;
            margin-left: 42%;
            margin-bottom: 20px;
        }
        .MuiAvatar-colorDefault {
            background-color: $colorMain;
        }
    }
}
