@import "public/assets/styles/Theme.scss";
@mixin active-menu-item($activeColor) {
    .MuiListItemIcon-root,
    .MuiListItemText-root {
        color: $activeColor;
    }
}
.wrapper-admin-layout {
    @extend .common-css;
    .logo-container {
        display: flex;
        justify-content: space-between;
        .main-logo {
            width: 55px;
            height: 55px;
            background-image: $logo;
            background-repeat: no-repeat;
            background-size: contain;
            border-radius: 100%;
            margin-left: 60px;
            margin-top: 5px;
        }
    }
    .MuiAppBar-colorPrimary {
        background-color: $colorHeader;
        .MuiTypography-root {
            padding-left: 20px;
        }
        .MuiButtonBase-root {
            margin-right: 25px;
        }
    }
    .MuiToolbar-regular {
        display: flex;
        justify-content: space-between;
    }
    .MuiToolbar-gutters {
        padding-left: 0;
    }
    .wrapper-nav-bar {
        .MuiPaper-root {
            background-color: $darksLateGray;
            > div:first-child {
                min-height: 64px;
            }
            .MuiIconButton-root {
                margin: 8px;
            }
            .toggle-header-button {
                margin-right: 30px;
            }
            a {
                text-decoration: none;
                color: $colorBlack;
                .MuiListItem-root {
                    &:hover {
                        color: $colorLightLateGray;
                        @include active-menu-item($colorWhite);
                    }
                    @include active-menu-item(gray);
                }
            }
            a.active {
                .MuiListItem-root {
                    @include active-menu-item($colorWhite);
                }
            }
        }
    }
    .admin-layout-content {
        position: relative;
        margin-top: 100px;
        .MuiContainer-root {
            margin-bottom: 50px;
        }
        .MuiAppBar-positionAbsolute {
            margin-bottom: 70px;
        }
        .table-control-container {
            width: 100%;
            display: flex;
            justify-content: flex-end;
            button {
                margin-left: 15px;
            }
        }
        .wrapper-table {
            width: 100%;
            .MuiTableCell-stickyHeader {
                position: sticky;
                top: 0;
                left: 0;
                z-index: 1;
                background-color: #ffffff;
            }
            .action-row {
                button {
                    margin-right: 15px;
                }
            }
        }
    }
}

.wrapper-admin-layout.drawer-open {
    .MuiToolbar-gutters {
        padding-left: 130px;
    }
    .MuiDrawer-paperAnchorDockedLeft {
        width: $drawerWidthOpen;
    }
    .admin-layout-content {
        margin-left: $drawerWidthOpen;
    }
}

.wrapper-admin-layout.drawer-close {
    .MuiDrawer-paperAnchorDockedLeft {
        width: $drawerWidthClose;
    }
    .MuiDrawer-paper {
        z-index: auto;
    }
    .admin-layout-content {
        margin-left: $drawerWidthClose;
    }

    @media (max-width: 768px) {
        .admin-layout-content {
            margin-left: $drawerWidthClose + 10;
        }
    }
}
