@import "public/assets/styles/Theme.scss";

.wrapper-footer {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: auto;
    padding: 10px;
    color: $colorWhite;
    background-color: $darksLateGray;
}
